h1
{
    text-align: center;
    color: whitesmoke;
}
body
{
    background-color: #a0dda2;
}

.new-book
{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.add-button
{
    background-color: #4CAF50; /* Green background */
        border: none; /* Remove default border */
        color: white; /* White text */
        padding: 15px 30px; /* Padding to make it larger */
        text-align: center; /* Center text */
        text-decoration: none; /* Remove underline */
        display: inline-block; /* Inline block */
        font-size: 16px; /* Increase font size */
        margin: 10px 2px; /* Margin around the button */
        cursor: pointer; /* Pointer cursor on hover */
        border-radius: 50px; /* Rounded corners */
        transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */

}
.add-button:hover {
    background-color: #45a049; /* Darker green on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
  }

  .add-book
  {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  #book-details
  {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 100;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    font-weight: bold;
    background-color: #48a14b;
}

#book-details input[type="text"],
#book-details input[type="number"],
#book-details input[type="date"] 
{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    width: 90%; /* Full width */
}



#book-details input[type="submit"] {
    margin-top: 20px; /* Margin on top */
    padding: 10px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* Remove default border */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

#book-details input[type="submit"]:hover {
    background-color: #45a049; /* Darker green on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}

.newBook
{
    padding: 10px;
    border: 2px solid black;
    height: 40vh;
    width: 30vw;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.books-list {
    padding: 10px;
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    width: 90vw;
    justify-content: center;
    align-items: center;
}

.bookDetails
{
    border: 2px solid black;
}

.created-book {
    border: 2px solid black;
    height: 500px;
}

label {
    font-weight: bolder
}